<div class="container mt-5">
  <div class="row">
    <div class="col-11 col-md-8 mx-auto">
      <div class="row">
        <div class="col-12 col-md-8">
          <h1>Odd & Even numbers counter</h1>
        </div>
        <div class="col-4 col-md-4 mx-auto">
          <app-game-control (counting)="onCounting($event)"></app-game-control>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 mx-auto mt-4">
      <div class="row">
        <div class="col-md-6 mb-4">
          <p class="font-weight-bold">Odd numbers:</p>
          <app-odd *ngFor="let oddNumber of oddNumbers" [currentOddNumber]="oddNumber"></app-odd>
        </div>
        <div class="col-md-6 mb-4">
          <p class="font-weight-bold">Even numbers:</p>
          <app-even *ngFor="let evenNumber of evenNumbers" [currentEvenNumber]="evenNumber"></app-even>
        </div>
      </div>
    </div>
  </div>
</div>
  